<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>控制台 </title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<!-- ace styles -->

		<link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__ADMIN__/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="__ADMIN__/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__ADMIN__/assets/js/html5shiv.js"></script>
		<script src="__ADMIN__/assets/js/respond.min.js"></script>
		<![endif]-->
			<script src="__ADMIN__/ueditor/ueditor.config.js"></script>
    <script src="__ADMIN__/ueditor/ueditor.all.min.js"></script>
    <script src="__ADMIN__/ueditor/lang/zh-cn/zh-cn.js"></script>
	</head>

	<body>
		<!-- navbar -->
		{include file="public/navbar"}
		<!-- /navbar -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
				<!-- sidebar -->
				{include file="public/sidebar"}
				<!-- /sidebar -->

				<div class="main-content">
					<div class="page-content">
						<div class="page-header">
							<h1>
								管理员管理
								<small>
									<i class="icon-double-angle-right"></i>
									 添加用户
								</small>
							</h1>
						</div><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								<form class="form-horizontal" role="form" action="{:url('manager/addhanddle')}" method="post">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="user_name"> 用户账号 </label>

										<div class="col-sm-9">
											<input id="user_name" name="user_name" type="text"  class="col-xs-10 col-sm-5">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="user_password"> 用户密码 </label>

										<div class="col-sm-9">
											<input type="password" id="user_password" name="user_password" placeholder="请输入密码"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="user_password1"> 再输入一遍密码 </label>

										<div class="col-sm-9">
											<input type="password" id="user_password1" name="user_password1" placeholder="请再一遍输入密码"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>
                                    

                                       <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="user_rname"> 用户姓名 </label>

										<div class="col-sm-9">
											<input id="user_rname" name="user_rname" placeholder="用户姓名"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>
                                     


                         <div class="form-group">
                                      <label for="group_id" class="col-sm-3 control-label no-padding-right">性别</label>
                            <div class="col-sm-9">
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input checked="checked" name="user_sex" value="1"  type="radio">
                                        <span class="text">男</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input name="user_sex" class="inverted" value="2" type="radio">
                                        <span class="text">女</span>
                                    </label>
                                </div>
                            </div>
                        </div> 
                         <div class="form-group">
                                      <label for="group_id" class="col-sm-3 control-label no-padding-right">学历</label>
                            <div class="col-sm-9">
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input checked="checked" name="user_education" value="1"  type="radio">
                                        <span class="text">高中</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input name="user_education" class="inverted" value="2" type="radio">
                                        <span class="text">学士</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input  class="inverted" name="user_education" value="3"  type="radio">
                                        <span class="text">硕士</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input name="user_education" class="inverted" value="4" type="radio">
                                        <span class="text">博士</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input name="user_education" class="inverted" value="5" type="radio">
                                        <span class="text">其他</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                                    <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="user_phone"> 用户电话 </label>

										<div class="col-sm-9">
											<input id="user_phone" name="user_phone" placeholder="用户电话"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="user_brith"> 用户生日 </label>

										<div class="col-sm-9">
											<input id="user_brith" name="user_brith" placeholder="用户生日"   class="col-xs-10 col-sm-5" type="date">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="user_native"> 用户籍贯 </label>

										<div class="col-sm-9">
											<input id="user_native" name="user_native" placeholder="用户籍贯"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="user_address"> 用户地址 </label>

										<div class="col-sm-9">
											<input id="user_address" name="user_address" placeholder="用户地址"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>  
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="user_seniority"> 工龄 </label>

										<div class="col-sm-9">
											<input id="user_seniority" name="user_seniority"type="number" class="mui-input-numbox" placeholder="工龄" οninput="value=value.replace(/[^\d]/g,'')"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="user_seniority"> 基本工资 </label>
										<div class="col-sm-9">
											<input id="user_wage" name="user_wage"type="number" class="mui-input-numbox" placeholder="基本工资" οninput="value=value.replace(/[^\d]/g,'')"/>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
										<input type="submit" name="" value="添加用户" class="btn btn-info">
										<input type="reset" name="" value="重置" class="btn">
										</div>
									</div>

								</form>
							</div>
						</div>

					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->


		<!-- <![endif]-->

		<!--[if IE]>
<![endif]-->

		<!--[if !IE]> -->

		<script src='__ADMIN__/assets/js/jquery-2.0.3.min.js'></script>
		<script src="__ADMIN__/validform/validform.js"></script>
		<script type="text/javascript">
			$(function(){
				var demo = $(".form-horizontal").Validform({
					tiptype:4, 
				});
				demo.addRule([
					{
						ele:"#user_name",
						datatype:"s4-10",
						nullmsg:"请输入管理员名称！",
						errormsg:"管理员名称为4~10位",
						sucmsg:"管理员名称可以使用！",
						
					},
					{
						ele:"#user_password",
						datatype:"s8-20",
						nullmsg:"请输入密码！",
						errormsg:"密码长度为8到20位",
						sucmsg:"密码符合要求",
					},
					{
						ele:"#user_password1",
						datatype:"s8-20",
						nullmsg:"请再次输入密码！",
						errormsg:"两次密码输入不一致",
						sucmsg:"密码符合要求",
						recheck:"user_password"
					}	
				])
			})
		</script>
		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__ADMIN__/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__ADMIN__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
		</script>
		<script src="__ADMIN__/assets/js/bootstrap.min.js"></script>
		<script src="__ADMIN__/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="__ADMIN__/assets/js/excanvas.min.js"></script>
		<![endif]-->

		<script src="__ADMIN__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.slimscroll.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.easy-pie-chart.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.sparkline.min.js"></script>
		<script src="__ADMIN__/assets/js/flot/jquery.flot.min.js"></script>
		<script src="__ADMIN__/assets/js/flot/jquery.flot.pie.min.js"></script>
		<script src="__ADMIN__/assets/js/flot/jquery.flot.resize.min.js"></script>

		<!-- ace scripts -->

		<script src="__ADMIN__/assets/js/ace-elements.min.js"></script>
		<script src="__ADMIN__/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
<link rel="stylesheet" href="__ADMIN__/jfu/css/jquery.fileupload.css">  
		<link rel="stylesheet" href="__ADMIN__/jfu/css/jquery.fileupload-ui.css"> 
		<!-- <script src="__ADMIN__/js/jquery-2.0.3.min.js"></script>  -->
		<script src="__ADMIN__/jfu/js/vendor/jquery.ui.widget.js"></script>  
		<script src="__ADMIN__/jfu/js/jquery.fileupload.js"></script>  
		<script src="__ADMIN__/jfu/js/jquery.iframe-transport.js"></script>  

		<script type="text/javascript">
		    $(function() {  
		        $("#admin_thumb").fileupload({  
		                url: '{:url("admin/admin/uploadthumb1")}',  
		                sequentialUploads: true  
		            }).bind('fileuploadprogress', function (e, data) {  
		                var progress = parseInt(data.loaded / data.total * 100, 10);  
		                $("#thumb_progress").css('width',progress + '%');  
		                $("#thumb_progress").html(progress + '%');  
		            }).bind('fileuploaddone', function (e, data) {console.log(data);
		                $("#img").attr("src",data.result);  
		                $("#thumb_upload").css({display:"none"}); 
		                $("#thumb_cancle").css({display:""}); 
		            });  
		                 
		        });
		    </script> 
		    <script type="text/javascript">
		    	$(function(){
		    		$('#thumb_cancle').click(function(){
		    			$.ajax({
		    				url:'{:url("admin/admin/canclethumb1")}',
		    				type:'post',
		    				success:function(data){
		    					$("#thumb_upload").css({display:""}); 
		                		$("#thumb_cancle").css({display:"none"});
								$("#thumb_progress").css('width',0);
								$("#thumb_progress").html('');
		                		$("#img").attr("src","__ADMIN__/assets/images/upload.png");  
		    				}
		    			});
		    		});
		    	});
		    </script>
		
		 <script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    UE.getEditor('admin_content',{initialFrameWidth:800,initialFrameHeight:400,});
    </script>
	</body>
</html>

