<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>控制台 </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ace-skins.min.css" />
		<script src="__ADMIN__/assets/js/ace-extra.min.js"></script>
		<script src="__ADMIN__/ueditor/ueditor.config.js"></script>
    	<script src="__ADMIN__/ueditor/ueditor.all.min.js"></script>
    	<script src="__ADMIN__/ueditor/lang/zh-cn/zh-cn.js"></script>
	</head>

	<body>
		<!-- navbar -->
		{include file="public/navbar"}
		<!-- /navbar -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
				<!-- sidebar -->
				{include file="public/sidebar"}
				<!-- /sidebar -->

				<div class="main-content">
					<div class="page-content">
						<div class="page-header">
							<h1>
								管理员管理
								<small>
									<i class="icon-double-angle-right"></i>
									 添加管理员
								</small>
							</h1>
						</div><!-- /.page-header -->
						<div class="row">
							<div class="col-xs-12">
								<form class="form-horizontal" role="form" action="{:url('admin/addhanddle')}" method="post">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="admin_name"> 管理员账号 </label>

										<div class="col-sm-9">
											<input id="admin_name" name="admin_name" type="text"  class="col-xs-10 col-sm-5">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="admin_password"> 管理员密码 </label>

										<div class="col-sm-9">
											<input type="password" id="admin_password" name="admin_password" placeholder="请输入密码"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="admin_password1"> 再输入一遍密码 </label>

										<div class="col-sm-9">
											<input type="password" id="admin_password1" name="admin_password1" placeholder="请再一遍输入密码"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>
                                    

                                       <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="admin_rname"> 管理员姓名 </label>

										<div class="col-sm-9">
											<input id="admin_rname" name="admin_rname" placeholder="管理员姓名姓名"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>
                                     


                         <div class="form-group">
                                      <label for="group_id" class="col-sm-3 control-label no-padding-right">性别</label>
                            <div class="col-sm-9">
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input checked="checked" name="admin_sex" value="1"  type="radio">
                                        <span class="text">男</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input name="admin_sex" class="inverted" value="2" type="radio">
                                        <span class="text">女</span>
                                    </label>
                                </div>
                            </div>
                        </div> 
                         <div class="form-group">
                                      <label for="group_id" class="col-sm-3 control-label no-padding-right">学历</label>
                            <div class="col-sm-9">
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input checked="checked" name="user_education" value="1"  type="radio">
                                        <span class="text">高中</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input name="user_education" class="inverted" value="2" type="radio">
                                        <span class="text">学士</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input  class="inverted" name="user_education" value="3"  type="radio">
                                        <span class="text">硕士</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input name="user_education" class="inverted" value="4" type="radio">
                                        <span class="text">博士</span>
                                    </label>
                                </div>
                                <div class="radio" style="float:left; margin-right:10px;">
                                    <label>
                                        <input name="user_education" class="inverted" value="5" type="radio">
                                        <span class="text">其他</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                                    <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="admin_phone"> 管理员电话 </label>

										<div class="col-sm-9">
											<input id="admin_phone" name="admin_phone" placeholder="用户电话"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="admin_brith"> 管理员生日 </label>

										<div class="col-sm-9">
											<input id="admin_brith" name="admin_brith" placeholder="管理员生日"   class="col-xs-10 col-sm-5" type="date">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="admin_native"> 管理员籍贯 </label>

										<div class="col-sm-9">
											<input id="admin_native" name="admin_native" placeholder="管理员籍贯"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="admin_address"> 管理员地址 </label>

										<div class="col-sm-9">
											<input id="admin_address" name="admin_address" placeholder="管理员地址"   class="col-xs-10 col-sm-5" type="text">
										</div>
									</div>  
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="admin_seniority"> 工龄 </label>

										<div class="col-sm-9">
											<input id="admin_seniority" name="admin_seniority"type="number" class="mui-input-numbox" placeholder="工龄" οninput="value=value.replace(/[^\d]/g,'')"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="admin_seniority"> 基本工资 </label>
										<div class="col-sm-9">
											<input id="admin_wage" name="admin_wage"type="number" class="mui-input-numbox" placeholder="基本工资" οninput="value=value.replace(/[^\d]/g,'')"/>
										</div>
									</div>
									<div class="space-4"></div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
										<input type="submit" name="" value="添加管理" class="btn btn-info">
										<input type="reset" name="" value="重置" class="btn">
										</div>
									</div>

								</form>
							</div>
						</div>

					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

		</div><!-- /.main-container -->
		<script src='__ADMIN__/assets/js/jquery-2.0.3.min.js'></script>
		<script src="__ADMIN__/validform/validform.js"></script>
		<script type="text/javascript">
			$(function(){
				var demo = $(".form-horizontal").Validform({
					tiptype:4, 
				});
				demo.addRule([
					{
						ele:"#admin_name",
						datatype:"s4-10",
						nullmsg:"请输入管理员名称！",
						errormsg:"管理员名称为4~10位",
						sucmsg:"管理员名称可以使用！",
						
					},
					{
						ele:"#admin_password",
						datatype:"s8-20",
						nullmsg:"请输入密码！",
						errormsg:"密码长度为8到20位",
						sucmsg:"密码符合要求",
					},
					{
						ele:"#admin_password1",
						datatype:"s8-20",
						nullmsg:"请再次输入密码！",
						errormsg:"两次密码输入不一致",
						sucmsg:"密码符合要求",
						recheck:"admin_password"
					}	
				])
			})
		</script>
		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__ADMIN__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
		</script>
		<script src="__ADMIN__/assets/js/bootstrap.min.js"></script>
		<script src="__ADMIN__/assets/js/typeahead-bs2.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.slimscroll.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.easy-pie-chart.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.sparkline.min.js"></script>
		<script src="__ADMIN__/assets/js/flot/jquery.flot.min.js"></script>
		<script src="__ADMIN__/assets/js/flot/jquery.flot.pie.min.js"></script>
		<script src="__ADMIN__/assets/js/flot/jquery.flot.resize.min.js"></script>
		<script src="__ADMIN__/assets/js/ace-elements.min.js"></script>
		<script src="__ADMIN__/assets/js/ace.min.js"></script>
		<link rel="stylesheet" href="__ADMIN__/jfu/css/jquery.fileupload.css">  
		<link rel="stylesheet" href="__ADMIN__/jfu/css/jquery.fileupload-ui.css"> 
		<script src="__ADMIN__/jfu/js/vendor/jquery.ui.widget.js"></script>  
		<script src="__ADMIN__/jfu/js/jquery.fileupload.js"></script>  
		<script src="__ADMIN__/jfu/js/jquery.iframe-transport.js"></script>  
		<script type="text/javascript">
		    $(function() {  
		        $("#admin_thumb").fileupload({  
		                url: '{:url("admin/admin/uploadthumb1")}',  
		                sequentialUploads: true  
		            }).bind('fileuploadprogress', function (e, data) {  
		                var progress = parseInt(data.loaded / data.total * 100, 10);  
		                $("#thumb_progress").css('width',progress + '%');  
		                $("#thumb_progress").html(progress + '%');  
		            }).bind('fileuploaddone', function (e, data) {console.log(data);
		                $("#img").attr("src",data.result);  
		                $("#thumb_upload").css({display:"none"}); 
		                $("#thumb_cancle").css({display:""}); 
		            });  
		                 
		        });
		    </script> 
		    <script type="text/javascript">
		    	$(function(){
		    		$('#thumb_cancle').click(function(){
		    			$.ajax({
		    				url:'{:url("admin/admin/canclethumb1")}',
		    				type:'post',
		    				success:function(data){
		    					$("#thumb_upload").css({display:""}); 
		                		$("#thumb_cancle").css({display:"none"});
								$("#thumb_progress").css('width',0);
								$("#thumb_progress").html('');
		                		$("#img").attr("src","__ADMIN__/assets/images/upload.png");  
		    				}
		    			});
		    		});
		    	});
		    </script>
		
		<script type="text/javascript">
    		UE.getEditor('admin_content',{initialFrameWidth:800,initialFrameHeight:400,});
    	</script>
	</body>
</html>

