<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>控制台</title>        
        <meta name="description" content="AppUI - Admin Dashboard Template & UI Framework" />
        <meta name="author" content="rustheme" />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="__ADMIN__/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css" />
        <link rel="stylesheet" href="__ADMIN__/assets/css/ace-rtl.min.css" />
        <link rel="stylesheet" href="__ADMIN__/assets/css/ace-skins.min.css" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="__ADMIN__/assets/img/favicons/apple-touch-icon.png" />
        <link rel="icon" href="__ADMIN__/assets/img/favicons/favicon.ico" />

        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="__ADMIN__/assets/js/plugins/datatables/jquery.dataTables.min.css" />

        <!-- AppUI CSS stylesheets -->
        <link rel="stylesheet" id="css-font-awesome" href="__ADMIN__/assets/css/font-awesome.css" />
        <link rel="stylesheet" id="css-ionicons" href="__ADMIN__/assets/css/ionicons.css" />
        <link rel="stylesheet" id="css-bootstrap" href="__ADMIN__/assets/css/bootstrap.css" />
        <link rel="stylesheet" id="css-app" href="__ADMIN__/assets/css/app.css" />
        <link rel="stylesheet" id="css-app-custom" href="__ADMIN__/assets/css/app-custom.css" />

        <script src="__ADMIN__/assets/js/ace-extra.min.js"></script>
    </head>
    <body>
        {include file="public/navbar"}
        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
            </script>
            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>
                {include file="public/sidebar"}
                <div class="main-content">
                    <div class="app-layout-canvas">
                        <div class="app-layout-container">
                            <main class="app-layout-content">

                                <!-- Page Content -->
                                <div class="container-fluid p-y-md">
                                    <!-- Dynamic Table Full -->
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>Dynamic Table - Full</h4>
                                        </div>
                                        <div class="card-block">
                                            <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center"></th>
                                                        <th>Name</th>
                                                        <th class="hidden-xs">Email</th>
                                                        <th class="hidden-xs w-20">Position</th>
                                                        <th class="text-center" style="width: 10%;">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">1</td>
                                                        <td class="font-500">Denise Watson</td>
                                                        <td class="hidden-xs">client1@example.com</td>
                                                        <td class="hidden-xs">Accountant</td>
                                                        <td class="text-center">
                                                            <div class="btn-group">
                                                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Edit Client"><i class="ion-edit"></i></button>
                                                                <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip" title="Remove Client"><i class="ion-close"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- .card-block -->
                                    </div>
                                    <!-- .card -->
                                    <!-- End Dynamic Table Full -->
                                </div>
                       </div>
        </div>
                </div>

            </div>
        </div>
        <script src='__ADMIN__/assets/js/jquery-2.0.3.min.js'>
        </script> 
        <script src="__ADMIN__/assets/js/ace-elements.min.js"></script>
        <script src="__ADMIN__/assets/js/ace.min.js"></script> 
        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="__ADMIN__/assets/js/core/jquery.min.js"></script>
        <script src="__ADMIN__/assets/js/core/bootstrap.min.js"></script>
        <script src="__ADMIN__/assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="__ADMIN__/assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="__ADMIN__/assets/js/core/jquery.placeholder.min.js"></script>
        <script src="__ADMIN__/assets/js/app.js"></script>
        <script src="__ADMIN__/assets/js/app-custom.js"></script>
        <!-- Page JS Plugins -->
        <script src="__ADMIN__/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
        <!-- Page JS Code -->
        <script src="__ADMIN__/assets/js/pages/base_tables_datatables.js"></script>
    </body>
</html>

