<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>控制台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" id="css-ionicons" href="__ADMIN__/assets/css/ionicons.css" />
        <link rel="stylesheet" id="css-fontawesome" href="__ADMIN__/assets/css/font-awesome.css" />
        <link rel="stylesheet" id="css-fontawesomemin" href="__ADMIN__/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" id="css-bootstrap" href="__ADMIN__/assets/css/bootstrap.css" />
        <link rel="stylesheet" id="css-app" href="__ADMIN__/assets/css/app.css" />
        <link rel="stylesheet" id="css-app-custom" href="__ADMIN__/assets/css/app-custom.css" />
        <!-- End Stylesheets -->

		<link rel="stylesheet" href="__ADMIN__/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__ADMIN__/assets/css/ace-skins.min.css" />
		<script src="__ADMIN__/assets/js/ace-extra.min.js"></script>
	</head>

	<body>
		<!-- navbar -->
		{include file="public/navbar"}
		<!-- /navbar -->
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
				<!-- sidebar -->
				{include file="public/sidebar"}
				<!-- /sidebar -->
				
				

				<div class="main-content">
					<div class="page-content">
						<div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="card">
                                    <div class="card-header bg-green bg-inverse">
                                        <h5>总人数</h5>
                                    </div>
                                    <div class="card-block">
                                        <h5>共有{$people}人</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- .col-sm-6 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="card">
                                    <div class="card-header bg-blue bg-inverse">
                                        <h5>学士以上</h5>
                                    </div>
                                    <div class="card-block">
                                    	<h5>共有{$xueli}人</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- .col-sm-6 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="card">
                                    <div class="card-header bg-orange bg-inverse">
                                        <h5>工龄4年以上</h5>
                                    </div>
                                    <div class="card-block">
                                        <h5>共有{$gongling}人</h5>
                                    </div>
                                </div>
                            </div>
                            <!-- .col-sm-6 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="card">
                                    <div class="card-header bg-red bg-inverse">
                                        <h5>月工资1万以上</h5>
                                    </div>
                                    <div class="card-block">                                       
                                        <h5>共有{$gongzi}人</h5>
                                    </div>
                                </div>
                            </div>
      
                        </div>
						<div class="row text-center">
							<div class="col-sm-6">
							    <div class="card">
							        <div class="card-block">

							            <div id="container" style="max-width:800px;height:400px"></div>
							        </div>
							    </div>
							</div>
							<div class="col-sm-6">
							    <div class="card">
							        <div class="card-block">
							            <div id="wages" style="min-width:400px;height:400px"></div>
							        </div>
							    </div>
							</div>
						</div>
					</div><!-- /.page-content -->
					
				</div><!-- /.main-content -->

			</div><!-- /.main-container-inner -->

		</div><!-- /.main-container -->
		<script src='__ADMIN__/assets/js/highcharts.js'></script>
		<script src='__ADMIN__/assets/js/highcharts-3d.js'></script>
		<script src='__ADMIN__/assets/js/jquery-2.0.3.min.js'></script>
		<script src="__ADMIN__/assets/js/bootstrap.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.slimscroll.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.easy-pie-chart.min.js"></script>
		<script src="__ADMIN__/assets/js/jquery.sparkline.min.js"></script>
		<script src="__ADMIN__/assets/js/ace.min.js"></script>
        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="__ADMIN__/assets/js/core/jquery.slimscroll.min.js"></script>
        <script src="__ADMIN__/assets/js/core/jquery.scrollLock.min.js"></script>
        <script src="__ADMIN__/assets/js/core/jquery.placeholder.min.js"></script>
        <script src="__ADMIN__/assets/js/app.js"></script>
        <script src="__ADMIN__/assets/js/app-custom.js"></script>
        <!-- Page JS Plugins -->
        <script src="__ADMIN__/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
        <!-- Page JS Code -->
        <script src="__ADMIN__/assets/js/pages/base_tables_datatables.js"></script>
		<script type="text/javascript">
			var data = {$str};
			var man = 0;
			var woman = 0;
			var age1 = new Array(0,0);
			var age2 = new Array(0,0);
			var age3 = new Array(0,0);	
			var age4 = new Array(0,0);	
			for (var i = 0; i < data.length; i++) {
				if(data[i]['user_sex'] == 1)
					man ++;
				else
					woman ++;

				if(data[i]['user_seniority'] == 1){
					age1[0] += data[i]['user_wages'];
					age1[1] ++;
				}else if(data[i]['user_seniority']< 5){
					age2[0] += data[i]['user_wages'];
					age2[1] ++;
				}else if(data[i]['user_seniority']< 10){
					age3[0] += data[i]['user_wages'];
					age3[1] ++;
				}else{
					age4[0] += data[i]['user_wages'];
					age4[1] ++;
				}
	
					
			}
			/*工龄及工资 */		
			var chart = Highcharts.chart('wages', {
				chart: {
					zoomType: 'xy'
				},
				title: {
					text: '工龄和平均工资分布图'
				},
				xAxis: [{
					categories: ['1年', '2~4年', '5~10年', '10年以上'],
					crosshair: true
				}],
				yAxis: [{ // Primary yAxis
					labels: {
						format: '{value}元',
						style: {
							color: Highcharts.getOptions().colors[1]
						}
					},
					title: {
						text: '平均工资',
						style: {
							color: Highcharts.getOptions().colors[1]
						}
					}
				}, { // Secondary yAxis
					title: {
						text: '人数',
						style: {
							color: Highcharts.getOptions().colors[0]
						}
					},
					labels: {
						format: '{value}人',
						style: {
							color: Highcharts.getOptions().colors[0]
						}
					},
					opposite: true
				}],
				tooltip: {
					shared: true
				},
				legend: {
					layout: 'vertical',
					align: 'left',
					x: 100,
					verticalAlign: 'top',
					y: 100,
					floating: true,
					backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
				},
				series: [{
					name: '人数',
					type: 'column',
					yAxis: 1,
					data: [age1[1], age2[1], age3[1], age4[1]],
					tooltip: {
						valueSuffix: '人'
					}
				}, {
					name: '平均工资',
					type: 'spline',
					data: [age1[0]/age1[1], age2[0]/age2[1], age3[0]/age3[1], age4[0]/age4[1]],
					tooltip: {
						valueSuffix: '元'
					}
				}]
			});


			/*性别*/
			var chart = Highcharts.chart('container', {
				chart: {
					type: 'pie',
					options3d: {
						enabled: true,
						alpha: 45,
						beta: 0
					}
				},
				title: {
					text: '公司男女比例'
				},
				tooltip: {
					pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
				},
				colors:['#4285f4','#ea4335'],
				plotOptions: {
					pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						depth: 35,
						dataLabels: {
							enabled: true,
							format: '{point.name}'
						}
					}
				},
				series: [{
					type: 'pie',
					name: '人数占比',
					data: [
		
						{
							name: '男',
							y: man,
							sliced: true,
							selected: true
						},
					
						['女',   woman]
					]
				}]
			});			
		</script>
	</body>
</html>

